<!DOCTYPE html>
<html>
<head>
    <title>{{ entry.title }}</title>
    <link rel="stylesheet" href="{{ static('style.css') }}">
</head>
<body>
<h1><a href="{{category.link}}">Publ: {{ entry.title }}</a></h1>

<div id="nav" class="sidebar">

    <h2>Navigation</h2>

    <ul>
    <li class="cat-back"><a href="{{category.link}}">Back to {{category.basename}}</a></li>

    {% if entry.previous %}
    <li class="entry-prev"><a href="{{entry.previous.link}}">Previous entry: {{entry.previous.title}}</a></li>
    {% endif %}

    {% if entry.next %}
    <li class="entry-next"><a href="{{entry.next.link}}">Next entry: {{entry.next.title}}</a></li>
    {% endif %}

    {% set prev_test = entry.previous(category='tests',entry_type_not='sidebar',recurse=True) %}
    {% set next_test = entry.next(category='tests',entry_type_not='sidebar',recurse=True) %}

    {% if prev_test %}
    <li class="entry-prev"><a href="{{prev_test.link}}">Previous test: {{prev_test.title}}</a></li>
    {% endif %}

    {% if next_test %}
    <li class="entry-next"><a href="{{next_test.link}}">Next test: {{next_test.title}}</a></li>
    {% endif %}
    </ul>

</div>

<div id="content">
<div class="entries">

<div class="posted">Last updated:
    {{entry.last_modified.format('YYYY-MM-DD h:mm A')}}
    ({{entry.last_modified.humanize()}})
</div>

        {% if entry.more %}
        <div class="entry">
            {{entry.more | safe}}
        </div>
        {% else %}
        Oops, this page has no content...
        {% endif %}

    </div>
</div>

</div>
</div>

</body>
</html>
