<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Publ: {{ entry.title(markup=False) }}</title>
    <link rel="stylesheet" href="{{entry.stylesheet or 'style.css'}}">


    {{ entry.card(width=480,height=360,count=4,resize="fill") }}
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@fluffy">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

</head>

<body id="{{template.name}}">
    {% block pagetitle %}
    <header>
    <h1><a href="{{category.link}}">Publ:</a> {{ entry.title }}</h1>
    </header>
    {% endblock %}

    {% block sidebar %}
    <div id="nav" class="sidebar">
        <h2>Navigation</h2>
        <ul>
            <li class="cat-back"><a href="{{category.link}}" title="{{category.name(markup=False)}}">Back to {{category.name or "main site"}}</a></li>
            {% if entry.previous %}
            <li class="entry-prev"><a href="{{entry.previous.link}}" title="{{entry.previous.title(markup=False)}}">Previous entry: {{entry.previous.title}}</a></li>
            {% endif %} {% if entry.next %}
            <li class="entry-next"><a href="{{entry.next.link}}" title="{{entry.next.title(markup=False)}}">Next entry: {{entry.next.title}}</a></li>
            {% endif %}
        </ul>
    </div>
    {% endblock %}

    <div id="content">
        <div class="entries">
            {% if entry.is_unauthorized %}
                {% if user %}
                <p>You are logged in as `{{user.name}}`, and do not currently have access to this entry. If you have another account you can try <a href="{{entry.login}}">logging in as someone else</a>, or you can try contacting
                the administrator of this site for access.</p>
                {% else %}
                <p>This entry is protected. Please <a href="{{entry.login}}">log in</a> to gain access.</p>
                {% endif %}
            {% else %}
            <article class="h-entry">
            {% block entry %}
            <div class="posted">Last updated: <time class="dt-posted" datetime="{{entry.date.isoformat()}}">{{entry.last_modified.format('YYYY-MM-DD h:mm A')}} ({{entry.last_modified.humanize()}})</time>
            </div>
            <div class="source_file">Source file: <tt>{{entry.file_path}}</tt></div>
            {% if entry.summary %}
                <div class="p-summary">{{entry.summary}}</div>
            {% else %}
                <!-- summary is empty -->
            {% endif %}

            <div class="entry e-content">
                {% block body scoped %}
                    {{entry.body}}
                    {% if entry.more %}
                        {{entry.more}}
                    {% endif %}
                {% endblock %}
            </div>
            {% endblock %}
            </article>
            {% endif %}

            <section id="webmentions"></section>
        </div>
    </div>

</body>

</html>
