<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{category.name}}</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="feed" />
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    <link rel="token_endpoint" href="{{token_endpoint}}" />
</head>
<body id="{{template.name}}">

<header>
<h1>{{category.name}}</h1>
{% if category.description %}
<div class="description">{{category.description}}</div>
{% endif %}
</header>

<div id="nav" class="sidebar">

    <h2>Navigation</h2>

    {% block navigation %}
    <ul>
    {% if not view.is_current %}
    <li class="now"><a href="{{view.current.link}}">Current entries</a></li>
    {% endif %}

    {% if category.parent %}
    <li class="cat-up"><a href="{{category.parent.link}}">{{category.parent.name or "Main page"}}</a></li>
    {% endif %}

    {% for subcat in category.subcats %}
    <li class="cat-down"><a href="{{subcat.link}}">{{subcat.name}}</a></li>
    {% endfor %}

    {% for entry in view(category='',entry_type='sidebar').entries %}
    <li class="{{entry.get('Redirect-To') and 'extlink' or 'sblink'}}"><a href="{{entry.link}}">{{entry.title}}</a></li>
    {% endfor %}
    </ul>
    {% endblock %}

</div>

{% block content %}
<div id="content">
    {% set content = view(entry_type_not=['sidebar'],is_attached=False,count=20) %}

    <div class="nav">
        {% if content.previous %}
        <a href="{{content.previous.link}}" class="previous">Previous page</a>
        {% endif %}

        {% if content.next %}
        <a href="{{content.next.link}}" class="next">Next page</a>
        {% endif %}
    </div>

    <div class="entries">
    {% block entries scoped %}

        {% if not user and content.unauthorized %}
        <div class="login">
            <p>You are missing one or more friends-only entries. Please <a href="{{url_for('login',redir=request.path[1:])}}">log in</a>.</p>
        </div>
        {% endif %}

        {% for entry in content %}

        <article class="h-entry entry">
        {% block entry scoped %}
        <h2 class="p-name">
            <a class="u-url" href="{{entry.link}}">{{entry.title}}</a>
        </h2>

        {% block body scoped %}
        {{entry.body(width=320,height=320,prefix='index_')}}
        {% endblock %}

        {% if entry.more %}
        <div><a href="{{entry.link}}">read body</a></div>
        {%endif%}
        {% endblock %}

        </article>
        {% endfor %}
    {% endblock %}
    </div>

    <div class="nav">
        {% if content.previous %}
        <a href="{{content.previous.link}}" class="previous">Previous page</a>
        {% endif %}

        {% if content.next %}
        <a href="{{content.next.link}}" class="next">Next page</a>
        {% endif %}
    </div>

</div>
{% endblock %}

</body></html>
