@import url('{{static("pygments.default.css")}}');

html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background: white;
    font-family: 'Trebuchet MS', 'Verdana', 'Liberation Sans', 'Helvetica', 'Arial', sans-serif;
}

h1,
h2,
h3,
h4 {
    font-family: 'Liberation Sans', 'Helvetica', 'Arial', sans-serif;
    border-bottom: solid black 1px;
    clear: left;
}

h1 {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    padding-left: 1ex;
}

h1 a,
h2 a,
h3 a,
h4 a {
    text-decoration: none;
}

code,
.highlight pre {
    background: #eee;
    font-family: 'Andale Mono', 'Liberation Mono', 'Monaco', 'Lucida Console', monospace;
}

pre {
    background: #eee;
    border: dotted black 1px;
    padding: 1ex;
}

.images {
    text-align: center;
}

.images img {
    vertical-align: middle;
}

#entry .gallery {
    text-align: center;
    padding: 6px;
    background: black;
}

#entry .gallery img {
    vertical-align: middle;
    margin: 6px;
    border: solid #777 6px;
    border-radius: 3px;
}

#content {
    margin: 1em;
}

.keep-reading {
    font-size: small;
    font-style: italic;
}

.sidebar {
    float: right;
    margin-left: 1em;
    border: solid black 1px;
    border-right: none;
    background: white;
    padding: 0 0 1em;
}

.posted {
    font-size: small;
    font-style: italic;
    margin: 0;
    border-bottom: dotted black 1px;
}

#nav {
    font-size: small;
    border-radius: 8px 0 0 8px;
}

#nav h2 {
    border-top-left-radius: 8px;
    padding: 0 1ex;
    margin: 0 0 1ex;
    background: #eee;
}

#nav ul {
    list-style-type: none;
    padding: 0 1em;
}

#nav li.extlink:before {
    content: "⎋ ";
}

#nav li.cat-up:before {
    content: "⬆︎ ";
}

#nav li.cat-down:before {
    content: "➡︎ ";
}

#nav li.cat-back:before {
    content: "⬅︎ ";
}

#nav li.entry-prev:before {
    content: "← ";
}

#nav li.entry-next:before {
    content: "→ ";
}

#nav li.sblink:before {
    content: "✪ ";
}

#nav li {
    text-indent: -2em;
    padding-left: 2em;
}

#content h2 {
    margin-bottom: 0;
}

.entry {
    border-bottom: solid black 1px;
}

.nav a.previous:before {
    content: '« ';
}

.nav a.next:after {
    content: ' »';
}

a {
    color: #700;
}

a:visited {
    color: #622;
}

a:hover {
    color: #933;
}

a:active {
    color: #f77;
}

.error { color: #f00; background-color: yellow; }
.error code { color: #900 ; background-color: #ff3; }

header {
    border-bottom: solid black 1px;
    margin-bottom: 1em;
    padding: 1em 1em 0 1em;
    background: #ffc;
}
header h1 {
    display: inline-block;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.description {
    display: inline-block;
    font-style: italic;
    font-size: small;
    margin-left: 1em;
}
.description p:first-child {
    margin: 0; padding: 0;
}

.inset-left {
    float: left;
    shape-margin: 1ex;
}

.inset-right {
    float: right;
    shape-margin: 1ex;
}

.p-summary {
    display: none;
}

div.green {
    background: green;
    padding: 1ex;
}
div.red {
    background: red;
    padding: 1ex;
}

img.green {
    border: solid green 5px;
}
img.red {
    border: solid red 5px;
}

#footnotes {
    font-size: small;
    border-top: dashed red 1px;
    background: #ddd;
}

:target {
    background: #ddf;
}

.gronk {
    color: white;
    background: red;
}
.plonk {
    color: blue;
    background: yellow;
}
.flonk {
    color: red;
    background: blue;
}
.flonk a {
    color: white;
}

.rawrbg {
    /* {{image('/images/rawr.jpg').get_css_background(width=192,uncomment=True)}} */
}