<!DOCTYPE html>
<html>

<head>
    <title>User information</title>
</head>

<body>
    {% if user %}
    <ul>
        <li>identity: <a href="{{user.identity}}">{{user.humanize}}</a> ({{user.identity}})</li>
        <li>name: {{user.name}}</li>
        <li>auth type: {{user.auth_type}}</li>
        <li>scope: {{user.scope}}</li>
        <li>groups: {{user.groups}}</li>
        <li>auth_groups: {{user.auth_groups}}</li>
        <li>is_admin: {{user.is_admin}}</li>
        <li>profile:<ul>
            {% for key,val in user.profile.items() %}
            <li>{{key}}: {{val}}</li>
            {% endfor %}
        </ul></li>
    </ul>

    <p>Auth token tests: <ul>
        <li>No scope, 1-hour expiration: <code>curl -H 'Authorization: Bearer {{user.token(3600)}}' {{request.url}}</code></li>
        <li>Read scope, 3-hour expiration: <code>curl -H 'Authorization: Bearer {{user.token(7200,scope='read')}}' {{url_for('tokens',_external=True)}}</code></li>

    </ul></p>
    {% else %}
    No active user
    {% endif %}
</body>

</html>