# config.py.dist
# Sample configuration

# Default timezone for date handling
from dateutil import tz
timezone = tz.tzlocal()
# timezone = 'US/Pacific'

# Hosted site domain; set this to your actual web domain if you want absolute links to work right
server_name = None

# Where static files come from
static_directory = 'example_site/static'

# Static files' URL path
static_path = '/static'

# Where our site templates live
template_directory = 'example_site/templates'

# Where our site content lives
content_directory = 'example_site/content'

# In-memory database; fastest but most memory-intensive
# also for some reason peewee keeps dropping it? WTF
#database = "sqlite:///:memory:"

# SQLite database; adequate performance, but doesn't work well on Dreamhost
database = "sqlite:///data/index.db"

# MySQL database; scales well but has admin overhead
# NOTE: You cannot share databases between Publ instances! Make sure this
# database is unique to the instance.
# database = "mysql+pool://user:password@host/dbname?stale_timeout=60"
