[tool.poetry]
name = "Publ"
version = "0.6.12"
description = "A flexible web-based publishing framework"
authors = ["fluffy <fluffy@beesbuzz.biz>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/PlaidWeb/Publ"
homepage = "https://publ.beesbuzz.biz/"

[tool.poetry.dependencies]
python = "^3.6"
arrow = "^0.15.7"
atomicwrites = "^1.4.0"
authl = "^0.4.2"
awesome-slugify = "^1.6.5"
flask = "^1.1.2"
flask_caching = "^1.9.0"
misaka = "^2.1.1"
pillow = "^7.2.0"
pony = "^0.7.13"
pygments = "^2.6.1"
watchdog = "^0.10.3"
werkzeug = "^1.0.1"

[tool.poetry.dev-dependencies]
autopep8 = "^1.5.3"
coverage = "^5.2"
flake8 = "^3.8.3"
mypy = "^0.782"
pylint = "^2.5.3"
pytest = "^5.4.3"
isort = "^4"
pytest-mock = "^3.2.0"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
