[tool.poetry]
name = "Publ"
version = "0.7.5"
description = "A flexible web-based publishing framework"
authors = ["fluffy <fluffy@beesbuzz.biz>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/PlaidWeb/Publ"
homepage = "https://publ.plaidweb.site/"

[tool.poetry.dependencies]
python = "^3.6"
authl = "^0.6.0"
misaka = "^2.1.1"
Pillow = "^8.0.1"
arrow = "^0.17.0"
atomicwrites = "^1.4.0"
awesome-slugify = "^1.6.5"
Flask = "^2.0.0"
Flask-Caching = "^1.9.0"
pony = "^0.7.14"
Pygments = "^2.7.3"
watchdog = "^1.0.2"
Whoosh = "^2.7.4"

[tool.poetry.dev-dependencies]
autopep8 = "^1.5.3"
coverage = "^5.2"
flake8 = "^3.8.3"
mypy = "^0.782"
pylint = "^2.5.3"
pytest = "^5.4.3"
isort = "^4"
pytest-mock = "^3.2.0"
requests-mock = "^1.9.3"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
