<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Publ admin dashboard</title>
</head>

<body>
    <h1>Recent users</h1>

    <table>
        <tr><th>Username</th>
            <th>Groups</th>
            <th>Last seen</th>
        </tr>
        {% for user,last_seen in users %}
        <tr>
            <td><a href="{{user.name}}">{{user.name}}</a></td>
            <td>{{','.join(user.groups)}}</td>
            <td>{{last_seen.format('YYYY-MM-DD hh:mm A')}} ({{last_seen.humanize()}})</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Access Log</h1>

{% set columns = [
    ('authorized',True),
    ('date',False),
    ('entry',True),
    ('user',True),
    ('groups',False),
] %}

{%- macro format(col, rec, grouper=False) -%}
{%- if col == 'entry' -%}<a href="{{rec.link}}">{{rec.title}}</a>
{%- elif col == 'date' -%}{{rec.format('YYYY-MM-DD hh:mm A')}}
{%- elif col == 'user' -%}{% if rec.name %}<a href="{{rec.name}}">{{rec.name}}</a>{% elif grouper %}No user{% endif %}
{%- elif col == 'groups' -%}{{','.join(rec)}}
{%- elif col == 'authorized' -%}{% if grouper %}
        {{'Authorized' if rec else 'Forbidden'}}
    {% else %}
        {{'Y' if rec else 'N'}}
    {% endif %}
{%- endif -%}
{%- endmacro -%}

{%- macro column(col, rec) -%}
{% if col != by %}<td>{{format(col, rec)}}</td>{% endif %}
{%- endmacro -%}

    <table>
        <tr>
        {% for column, groupable in columns %}
            {% if by != column %}
                <th>{%- if groupable -%}
                    <a href="{{url_for('admin',by=column)}}">{{column.title()}}</a>
                    {% elif column == 'date' %}
                    <a href="{{url_for('admin')}}">{{column.title()}}</a>
                    {%- else -%}
                    {{column.title()}}
                    {%- endif -%}
                </th>
            {% endif %}
        {% endfor %}
        {% if by %}
            {% for group in log|groupby(by) %}
                <tr class="group {{by}}"><th colspan="4">{{format(by, group.grouper, True)}}</td></tr>
                {% for access in group.list|sort(True,'date') %}
                <tr class="access">
                    {{column('authorized', access.authorized)}}
                    {{column('date', access.date)}}
                    {{column('entry', access.entry)}}
                    {{column('user', access.user)}}
                    {{column('groups', access.user_groups)}}
                </tr>
                {% endfor %}
            {% endfor %}
        {% else %}
            {% for access in log|sort(True,'date') %}
            <tr class="access">
                {{column('authorized', access.authorized)}}
                {{column('date', access.date)}}
                {{column('entry', access.entry)}}
                {{column('user', access.user)}}
                {{column('groups', access.user_groups if access.user)}}
            </tr>
            {% endfor %}
        {% endif %}
    </table>
</body>
</html>
