<!DOCTYPE html>
<html>

<head>
    <title>403 Unauthorized</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('login',asset='css')}}">
</head>

<body>
    <div id="login">
        <h1>Authorization Pending</h1>
        <div id="notify">
        <p>User {{user.name}}, groups=[{{', '.join(user.groups)}}]</p>
        <p><a href="{{logout}}">log in as someone else</a>, <a href="{{logout(category.link if category else None)}}">log out entirely</a>.</p>

    </div>
        <div id="powered">
            <p>Powered by <a href="https://github.com/PlaidWeb/Authl">Authl</a></p>
        </div>
</body>

</html>