{% extends '/index.html' %}

{% block title %}
DEFAULT INDEX for {{category.name}}
{% endblock %}

{% block navigation %}
{{super()}}

<p>View this category using template:</p>

<ul>
<li><a href="{{view.link(category=category,template=template)}}">View, current template ({{template}})</a></li>
<li><a href="{{view.link(category=category,template='index')}}">View, 'index'</a></li>
<li><a href="{{view.link(category=category,template='alt')}}">View, 'alt'</a></li>
<li><a href="{{view.link(category=category,template='')}}">View, default</a></li>
<li><a href="{{category.link(template=template)}}">Category, current template ({{template}})</a></li>
<li><a href="{{category.link(template='index')}}">Category, 'index'</a></li>
<li><a href="{{category.link(template='alt')}}">Category, 'alt'</a></li>
<li><a href="{{category.link(template='')}}">Category, default</a></li>
</ul>

{% endblock %}
