<!DOCTYPE html>
<html>
<head>
    <title>{{entry['title'] | safe}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>{{entry.title}}</h1>

    <div class="content">
        {% if entry.body %}
        <div class="preamble">
            {{entry.body | safe}}
        </div>
        {% endif %}
        {% if entry.more %}
        <div class="more"><a name="more"></a>
            {{entry.more | safe}}
        </div>
        {% endif %}

    </div>
</body>
</html>
