<!DOCTYPE html>
<html>
<head>
    <title>{{ entry.title }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1><a href="{{category.link}}">Publ: {{ entry.title }}</a></h1>

<div id="nav" class="sidebar">

    <h2>Navigation</h2>

    <ul>
    {% if category.parent %}
    <li><a href="{{category.parent.link}}">⬆︎ Up one level</a></li>
    {% endif %}

    <li><a href="{{category.link}}">⬅︎ Back to {{category.basename}}</a></li>

    {% if entry.previous %}
    <li><a href="{{entry.previous.link}}">← Previous entry: {{entry.previous.title}}</a></li>
    {% endif %}

    {% if entry.next %}
    <li><a href="{{entry.next.link}}">→ Next entry: {{entry.next.title}}</a></li>
    {% endif %}
    </ul>

</div>

<div id="content">
<div class="entries">

        {% if entry.more %}
        <div class="entry">
            {{entry.more | safe}}
        </div>
        {% else %}
        Oops, this page has no content...
        {% endif %}

    </div>
</div>

</div>
</div>

</body>
</html>
