<!DOCTYPE html>
<html>
<head>
    <title>Publ {{category.path or ''}}</title>
    <link rel="stylesheet" href="{{ static('style.css') }}" />
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="feed" />
</head>
<body>

<h1>Publ: {{category.basename and category.basename.title() or "Yet another site generator"}}</h1>

<div id="nav" class="sidebar">

    <h2>Navigation</h2>

    <ul>
    {% if category.parent %}
    <li class="cat-up"><a href="{{category.parent.link}}">Up one level</a></li>
    {% endif %}

    {% for subcat in category.subcats %}
    <li class="cat-down"><a href="{{subcat.link}}">{{subcat.basename}}</a></li>
    {% endfor %}

    <li class="github"><a href="http://github.com/fluffy-critter/Publ">Github</a></li>

    {% for entry in view(entry_type='sidebar').entries %}
    <li class="sblink"><a href="{{entry.link}}">{{entry.title}}</a></li>
    {% endfor %}
    </ul>

</div>

<div id="content">
    {% set content = view(entry_type_not='sidebar',limit=5) %}

    <div class="nav">
        {% if content.previous %}
        <a href="{{content.previous.link}}" class="previous">Previous page</a>
        {% endif %}

        {% if content.next %}
        <a href="{{content.next.link}}" class="next">Next page</a>
        {% endif %}
    </div>

    <div class="entries">

        {% for entry in content.entries %}

        <h2>
            {%- if entry.more or entry['redirect-to'] %}<a href="{{entry.link}}">{% endif -%}
            {{entry.title}}
            {%- if entry.more %}</a>{% endif -%}
        </h2>

        {{entry.body}}

        {% endfor %}

    </div>

    <div class="nav">
        {% if content.previous %}
        <a href="{{content.previous.link}}" class="previous">Previous page</a>
        {% endif %}

        {% if content.next %}
        <a href="{{content.next.link}}" class="next">Next page</a>
        {% endif %}
    </div>

</div>
</body></html>
