<!DOCTYPE html>
<html>
<head>
    <title>Publ Blog</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" />
    <link rel="alternate" type="application/atom+xml" title="Atom feed" href="feed" />
</head>
<body>

<h1>Publ: {{category.name and category.name.title() or "Yet another site generator"}}</h1>

<div id="nav" class="sidebar">

    <h2>Navigation</h2>

    <ul>
    {% if category.parent %}
    <li><a href="{{category.parent.link}}">⬆︎ Up one level</a></li>
    {% endif %}

    {% for subcat in category.subcats %}
    <li><a href="{{subcat.link}}">{{subcat.basename}}</a></li>
    {% endfor %}
    </ul>

</div>

<div id="content">
    <div class="entries">

        {% for entry in view(limit=10).entries %}
        <h2>
            {%- if entry.more %}<a href="{{entry.link}}">{% endif -%}
            {{entry.title}}
            {%- if entry.more %}</a>{% endif -%}
        </h2>

        {{entry.body|safe}}

        {% endfor %}

</div>



<p><a href="http://github.com/fluffy-critter/Publ">publ@github</a></p>
</body></html>
