<!DOCTYPE html>
<html>
<head>
    <title>{{entry['title'] | safe}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>{{entry.title}}</h1>
<div class="posted">Posted {{entry.date.format('dddd, MMMM D')}} at {{entry.date.format('h:mm A')}} ({{entry.date.humanize()}})
    {% if entry.author %}by {{entry.author}}{% endif %}
    {% if entry.last_modified > entry.date %}
        <div class="update">Last updated {{entry.last_modified.humanize()}}</div>
    {% endif %}
</div>

    <div class="content">
        {% if entry.body %}
        <div class="preamble">
            {{entry.body | safe}}
        </div>
        {% endif %}
        {% if entry.more %}
        <div class="more"><a name="more"></a>
            {{entry.more | safe}}
        </div>
        {% endif %}

    </div>


    <div id="nav">
    <a href="{{url_for('category',category=category)}}">back to {{category.basename}}</a>
    </div>

</body>
</html>
