<!DOCTYPE html>
<html>
<head>
    <title>{{entry['title'] | safe}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1><a href="{{category.link}}">Publ: {{category.basename.title() }}</a></h1>

<div id="nav" class="sidebar">

    <h2>Navigation</h2>

    <ul>
    <li class="cat-back"><a href="{{category.link}}">Back to {{category.basename}}</a></li>

    {% if entry.previous %}
    <li class="entry-prev"><a href="{{entry.previous.link}}">Previous entry: {{entry.previous.title}}</a></li>
    {% endif %}

    {% if entry.next %}
    <li class="entry-next"><a href="{{entry.next.link}}">Next entry: {{entry.next.title}}</a></li>
    {% endif %}

    <li class="github"><a href="http://github.com/fluffy-critter/Publ">Github</a></li>
    </ul>


</div>

<div id="content">
    <div class="entries">
        <div class="entry">
            <h2>{{entry.title}}</h2>
            <div class="posted">Posted {{entry.date.format('dddd, MMMM D')}} at {{entry.date.format('h:mm A')}} ({{entry.date.humanize()}})
                {% if entry.author %}by {{entry.author}}{% endif %}
                {% if entry.last_modified > entry.date %}
                    <div class="update">Last updated {{entry.last_modified.humanize()}}</div>
                {% endif %}
            </div>

            {% if entry.body %}
            <div class="preamble">
                {{entry.body | safe}}
            </div>
            {% endif %}
            {% if entry.more %}
            <div class="more"><a name="more"></a>
                {{entry.more | safe}}
            </div>
            {% endif %}

        </div>

    </div>
</div>

</body>
</html>
